@model IEnumerable<DomainClass.Models.Rule>

@{
    ViewBag.Title = "قابلیت های سامانه ";
    int counter = 1;
}
<section id="Users" class="top-buffer">
    <div class="row text-center"> <h3>لیست قابلیت های سامانه</h3></div>
    <hr />
    @(Html.Kendo().Grid(Model).HtmlAttributes(new { style = "height:500px;text-align:center" })
             .Name("RulesGrid").Columns(columns =>
             {
             columns.Template(@<text><span>@counter @{ counter++; }</span></text>).Title(" ردیف").Width(55).HeaderHtmlAttributes(new { style = "text-align:center;" });
                 columns.Bound(model => model.RuleTitle).Width(300).Title("عنوان").HeaderHtmlAttributes(new { style = "text-align:center;" });
                 columns.Bound(item => @item.RuleId).Title("دستورات").Filterable(false).Groupable(false).HeaderHtmlAttributes(new { style = "text-align:center;" }).
             Template(@<text>
                        @Html.ActionLink("ویرایش", "Edit", new { id = @item.RuleId }, new { @class = "btn btn-primary" })
            </text>).Width(300);
             })

        //.ToolBar(
        //      toolbar =>{toolbar.Custom().Action("Create", "Rules").Text("افزودن");}
        //)
        //.Groupable()
        .Pageable()
        .Sortable()
        .Scrollable()
        .Filterable()
        .DataSource(dataSource => dataSource
                                    .Server()
                                    .Model(model => model.Id(item => item.RuleId))
                    )
    )
</section>