@{
    ViewBag.Title = "تایید ایمیل";
}

<div class="banner-bootom-w3-agileits">
    <div class="col-md-8 single-right-left simpleCart_shelfItem">
        <h3>لطفا ایمیل خود را جهت دریافت رمز عبور جدید وارد کنید </h3>
    </div>
    <div class="container">
        <p>
            برای بروز رسانی رمز عبور خود لطفا ایمیل خود را چک کنید و بر روی لینک  داده شده کلیک کنید
        </p>
    </div>
</div>
