@{
    ViewBag.Title = "تایید تغییر رمز عبور";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        رمز عبور شما با موفقیت تغییر کرد.
       @Html.ActionLink("لطفا لاگین کنید", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})
    </p>
</div>
