@model DomainClass.Models.Product
@{
    ViewBag.Title = "جزییات بیشتر";
}
<link href="@Links.Content.Site_css"  type="text/css"/>
<section id="row-2532" class="content_block clearfix">
    <section id="post-2532" class="content full">
        <div class="row">
            <div id="product-2532" class="post-2532 product type-product status-publish has-post-thumbnail product_cat-singles product_cat-music first instock shipping-taxable purchasable product-type-simple">

                <div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images" data-columns="4" style="opacity: 1; transition: opacity 0.25s ease-in-out;">
                    <a href="#" class="woocommerce-product-gallery__trigger"><img draggable="false" class="emoji" alt="🔍" src="https://s.w.org/images/core/emoji/2.3/svg/1f50d.svg"></a>

                    <div class="flex-viewport" style="overflow: hidden; position: relative; height: 499px;">
                        <figure class="woocommerce-product-gallery__wrapper" style="width: 400%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                            <div data-thumb="http://localhost:8080/rt/wp-content/uploads/2013/06/photodune-3769959-beautiful-woman-model-posing-in-elegant-dr-90x90.jpg" class="woocommerce-product-gallery__image flex-active-slide" style="width: 499px; float: left; display: block;"><a href="http://localhost:8080/rt/wp-content/uploads/2013/06/photodune-3769959-beautiful-woman-model-posing-in-elegant-dr.jpg"><img width="300" height="300" src="http://localhost:8080/rt/wp-content/uploads/2013/06/photodune-3769959-beautiful-woman-model-posing-in-elegant-dr-300x300.jpg" class="attachment-shop_single size-shop_single wp-post-image" alt="" title="photodune-3769959-beautiful-woman-model-posing-in-elegant-dr" data-caption="" data-src="http://localhost:8080/rt/wp-content/uploads/2013/06/photodune-3769959-beautiful-woman-model-posing-in-elegant-dr.jpg" data-large_image="http://localhost:8080/rt/wp-content/uploads/2013/06/photodune-3769959-beautiful-woman-model-posing-in-elegant-dr.jpg" data-large_image_width="470" data-large_image_height="706" srcset="http://localhost:8080/rt/wp-content/uploads/2013/06/photodune-3769959-beautiful-woman-model-posing-in-elegant-dr-300x300.jpg 300w, http://localhost:8080/rt/wp-content/uploads/2013/06/photodune-3769959-beautiful-woman-model-posing-in-elegant-dr-150x150.jpg 150w, http://localhost:8080/rt/wp-content/uploads/2013/06/photodune-3769959-beautiful-woman-model-posing-in-elegant-dr-90x90.jpg 90w" sizes="(max-width: 300px) 100vw, 300px" draggable="false"></a></div><div data-thumb="http://localhost:8080/rt/wp-content/uploads/2013/06/photodune-4567638-beautiful-woman-dressed-elegant-posing-gla-90x90.jpg" class="woocommerce-product-gallery__image" style="width: 499px; float: left; display: block;"><a href="http://localhost:8080/rt/wp-content/uploads/2013/06/photodune-4567638-beautiful-woman-dressed-elegant-posing-gla.jpg"><img width="300" height="300" src="http://localhost:8080/rt/wp-content/uploads/2013/06/photodune-4567638-beautiful-woman-dressed-elegant-posing-gla-300x300.jpg" class="attachment-shop_single size-shop_single" alt="" title="photodune-4567638-beautiful-woman-dressed-elegant-posing-gla" data-caption="" data-src="http://localhost:8080/rt/wp-content/uploads/2013/06/photodune-4567638-beautiful-woman-dressed-elegant-posing-gla.jpg" data-large_image="http://localhost:8080/rt/wp-content/uploads/2013/06/photodune-4567638-beautiful-woman-dressed-elegant-posing-gla.jpg" data-large_image_width="460" data-large_image_height="690" srcset="http://localhost:8080/rt/wp-content/uploads/2013/06/photodune-4567638-beautiful-woman-dressed-elegant-posing-gla-300x300.jpg 300w, http://localhost:8080/rt/wp-content/uploads/2013/06/photodune-4567638-beautiful-woman-dressed-elegant-posing-gla-150x150.jpg 150w, http://localhost:8080/rt/wp-content/uploads/2013/06/photodune-4567638-beautiful-woman-dressed-elegant-posing-gla-90x90.jpg 90w" sizes="(max-width: 300px) 100vw, 300px" draggable="false"></a></div>
                        </figure>
                    </div><ol class="flex-control-nav flex-control-thumbs"><li><img src="http://localhost:8080/rt/wp-content/uploads/2013/06/photodune-3769959-beautiful-woman-model-posing-in-elegant-dr-90x90.jpg" class="flex-active" draggable="false"></li><li><img src="http://localhost:8080/rt/wp-content/uploads/2013/06/photodune-4567638-beautiful-woman-dressed-elegant-posing-gla-90x90.jpg" draggable="false" class=""></li></ol>
                </div>

                <div class="summary entry-summary">


                    <div class="woocommerce-product-rating">
                        <div class="star-rating"><span style="width:90%">امتیاز <strong class="rating">4.50</strong> از 5 امتیاز <span class="rating">2</span> مشتری</span></div>		<a href="#reviews" class="woocommerce-review-link" rel="nofollow">(دیدگاه کاربر <span class="count">2</span>)</a>
                    </div>

                    <p class="price"><span class="woocommerce-Price-amount amount">15,000&nbsp;<span class="woocommerce-Price-currencySymbol">تومان</span></span></p>
                    <div class="woocommerce-product-details__short-description">
                        <p>لورم ایپسوم یک متن بی مفهوم استاندارد است که طراح برای پرکردن صفحات وب از آن استفاده می کند. یک متن بی مفهوم استاندارد است که طراح برای پرکردن صفحات وب از آن استفاده می کند. لورم ایپسوم یک متن است که طراح برای پرکردن صفحات وب از آن استفاده می کند. لورم ایپسوم یک متن بی مفهوم استاندارد است که طراح برای پرکردن صفحات وب از آن استفاده می کند. یک متن بی مفهوم استاندارد است که طراح برای پرکردن صفحات وب از آن استفاده می کند.</p>
                        <p>لورم ایپسوم یک متن بی مفهوم استاندارد است که طراح برای پرکردن صفحات وب از آن استفاده می کند. یک متن بی مفهوم استاندارد است که طراح برای پرکردن صفحات وب از آن استفاده می کند. لورم ایپسوم یک متن است که طراح برای پرکردن صفحات وب از آن استفاده می کند. لورم ایپسوم یک متن بی مفهوم استاندارد است که طراح برای پرکردن صفحات وب از آن استفاده می کند. یک متن بی مفهوم استاندارد است که طراح برای پرکردن صفحات وب از آن استفاده می کند.</p>
                        <p>لورم ایپسوم یک متن بی مفهوم استاندارد است که طراح برای پرکردن صفحات وب از آن استفاده می کند. یک متن بی مفهوم استاندارد است که طراح برای پرکردن صفحات وب از آن استفاده می کند. لورم ایپسوم یک متن است که طراح برای پرکردن صفحات وب از آن استفاده می کند. لورم ایپسوم یک متن بی مفهوم استاندارد است که طراح برای پرکردن صفحات وب از آن استفاده می کند. یک متن بی مفهوم استاندارد است که طراح برای پرکردن صفحات وب از آن استفاده می کند.</p>
                    </div>


                    <form class="cart" method="post" enctype="multipart/form-data">
                        <div class="quantity">
                            <label class="screen-reader-text" for="quantity_5a4c9720e469f">تعداد</label>
                            <input type="number" id="quantity_5a4c9720e469f" class="input-text qty text" step="1" min="1" max="" name="quantity" value="1" title="تعداد" size="4" pattern="[0-9]*" inputmode="numeric">
                        </div>

                        <button type="submit" name="add-to-cart" value="2532" class="single_add_to_cart_button button alt">افزودن به سبد خرید</button>

                    </form>


                    <div class="product_meta">



                        <span class="posted_in">دسته: <a href="http://localhost:8080/rt/product-category/singles/" rel="tag">تک آهنگ</a>, <a href="http://localhost:8080/rt/product-category/music/" rel="tag">موسیقی</a></span>


                    </div>


                </div><!-- .summary -->

                <div class="row clearfix wc-tabs">
                    <div class="box one first">

                        <div class="tabs_wrap tab-style-three">
                            <ul class="tabs clearfix">


                                <li class="description_tab with_icon">
                                    <a href="#tab-description" class="current"><span class="icon-doc-alt"></span>توضیحات</a>
                                </li>



                                <li class="reviews_tab with_icon">
                                    <a href="#tab-reviews"><span class="icon-chat-empty"></span>نظرات (2)</a>
                                </li>

                            </ul>

                            <div class="panes">

                                <div class="pane entry-content" id="tab-description" style="display: block;">

                                    <h2>توضیحات</h2>

                                    <p>لورم ایپسوم یک متن بی مفهوم استاندارد است که طراح برای پرکردن صفحات وب از آن استفاده می کند. یک متن بی مفهوم استاندارد است که طراح برای پرکردن صفحات وب از آن استفاده می کند. لورم ایپسوم یک متن است که طراح برای پرکردن صفحات وب از آن استفاده می کند. لورم ایپسوم یک متن بی مفهوم استاندارد است که طراح برای پرکردن صفحات وب از آن استفاده می کند. یک متن بی مفهوم استاندارد است که طراح برای پرکردن صفحات وب از آن استفاده می کند.</p>
                                </div>


                                <div class="pane entry-content" id="tab-reviews" style="display: none;">
                                    <div id="reviews" class="woocommerce-Reviews">
                                        <div id="comments">
                                            <h2 class="woocommerce-Reviews-title">2 دیدگاه برای <span>کالای شماره ۱</span></h2>


                                            <ol class="commentlist">
                                                <li class="comment even thread-even depth-1" id="li-comment-63">

                                                    <div id="comment-63" class="comment_container">

                                                        <img alt="" src="http://0.gravatar.com/avatar/f0cde930b42c79145194679d5b6e3b1d?s=60&amp;d=mm&amp;r=g" srcset="http://0.gravatar.com/avatar/f0cde930b42c79145194679d5b6e3b1d?s=120&amp;d=mm&amp;r=g 2x" class="avatar avatar-60 photo" height="60" width="60">
                                                        <div class="comment-text">

                                                            <div class="star-rating"><span style="width:80%">نمره <strong class="rating">4</strong> از 5</span></div>
                                                            <p class="meta">
                                                                <strong class="woocommerce-review__author">تام هنکس</strong> <span class="woocommerce-review__dash">–</span> <time class="woocommerce-review__published-date" datetime="۱۳۹۲/۳/۱۷ ۱۱:۵۸:۴۳">۱۷ خرداد ۱۳۹۲</time>
                                                            </p>

                                                            <div class="description">
                                                                <p>لورم ایپسوم یک متن بی مفهوم استاندارد است که طراح برای پر کردن صفحات وب از آن استفاده می کند. </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li><!-- #comment-## -->
                                                <li class="comment odd alt thread-odd thread-alt depth-1" id="li-comment-64">

                                                    <div id="comment-64" class="comment_container">

                                                        <img alt="" src="http://2.gravatar.com/avatar/59c82b1d2c60537f900fb191b3cb611b?s=60&amp;d=mm&amp;r=g" srcset="http://2.gravatar.com/avatar/59c82b1d2c60537f900fb191b3cb611b?s=120&amp;d=mm&amp;r=g 2x" class="avatar avatar-60 photo" height="60" width="60">
                                                        <div class="comment-text">

                                                            <div class="star-rating"><span style="width:100%">نمره <strong class="rating">5</strong> از 5</span></div>
                                                            <p class="meta">
                                                                <strong class="woocommerce-review__author">نیکول کیدمن</strong> <span class="woocommerce-review__dash">–</span> <time class="woocommerce-review__published-date" datetime="۱۳۹۲/۳/۱۷ ۱۵:۵۲:۴۸">۱۷ خرداد ۱۳۹۲</time>
                                                            </p>

                                                            <div class="description">
                                                                <p>لورم ایپسوم یک متن بی مفهوم استاندارد است که طراح برای پر کردن صفحات وب از آن استفاده می کند. </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li><!-- #comment-## -->
                                            </ol>


                                        </div>


                                        <div id="review_form_wrapper">
                                            <div id="review_form" class="rt_form">
                                                <div id="respond" class="comment-respond">
                                                    <span id="reply-title" class="comment-reply-title">دیدگاه خود را بنویسید <small><a rel="nofollow" id="cancel-comment-reply-link" href="/rt/product/woo-single-2/#respond" style="display:none;">لغو پاسخ</a></small></span>			<form action="http://localhost:8080/rt/wp-comments-post.php" method="post" id="commentform" class="comment-form">
                                                        <div class="comment-form-rating">
                                                            <label for="rating">امتیاز شما</label><p class="stars"><span><a class="star-1" href="#">1</a><a class="star-2" href="#">2</a><a class="star-3" href="#">3</a><a class="star-4" href="#">4</a><a class="star-5" href="#">5</a></span></p><select name="rating" id="rating" aria-required="true" required="" style="display: none;">
                                                                <option value="">رای دهید</option>
                                                                <option value="5">عالی</option>
                                                                <option value="4">خوب</option>
                                                                <option value="3">متوسط</option>
                                                                <option value="2">نه خیلی بد</option>
                                                                <option value="1">خیلی ضعیف</option>
                                                            </select>
                                                        </div><p class="comment-form-comment"><label for="comment">دیدگاه شما <span class="required">*</span></label><textarea id="comment" name="comment" cols="45" rows="8" aria-required="true" required=""></textarea></p><p class="form-submit">
                                                            <input name="submit" type="submit" id="submit" class="submit" value="ثبت"> <input type="hidden" name="comment_post_ID" value="2532" id="comment_post_ID">
                                                            <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                                        </p><input type="hidden" id="_wp_unfiltered_html_comment_disabled" name="_wp_unfiltered_html_comment" value="8db7e0ec90">
                                                        <script>(function () { if (window === window.parent) { document.getElementById('_wp_unfiltered_html_comment_disabled').name = '_wp_unfiltered_html_comment'; } })();</script>
                                                    </form>
                                                </div><!-- #respond -->
                                            </div>
                                        </div>


                                        <div class="clear"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="space margin-b40"></div>

                <script type="text/javascript">
                    /* <![CDATA[ */
                    // run carousel
                    jQuery(document).ready(function () {
                        jQuery("#woo-related-products").rt_start_carousels(3);
                    });
                    /* ]]> */
                </script>

                <div class="related products margin-b40">

                    <div class="title_line margin-b20">
                        <h3 class="featured_article_title">
                            <span class="icon-link heading_icon"></span> محصولات مرتبط
                        </h3>
                    </div>


                    <div id="woo-related-products" class="carousel-holder clearfix margin-b20" style="width: 1060px; margin-right: -10px;">
                        <section class="carousel_items">
                            <div class="owl-carousel owl-theme" style="opacity: 1; display: block;">



                                <div class="owl-wrapper-outer">
                                    <div class="owl-wrapper" style="width: 2824px; left: 0px; display: block; transition: all 600ms ease; transform: translate3d(-353px, 0px, 0px);">
                                        <div class="owl-item" style="width: 353px;">
                                            <div class="product product_item_holder item">



                                                <span class="onsale">حراج!</span>
                                                <!-- product image --><div class="featured_image"><div class="imgeffect img_loaded">	<a href="/rt/product/woo-single-2/?add-to-cart=83" rel="nofollow" data-product_id="83" data-product_sku="" class="add_to_cart_button single icon-basket     product_type_simple ajax_add_to_cart" title="افزودن به سبد خرید"></a><img src="http://localhost:8080/rt/wp-content/uploads/2013/06/sku_16037_2.jpg" alt="" class=""></div></div>
                                                <div class="product_info">
                                                    <h5><a href="http://localhost:8080/rt/product/woo-album-1/">ساعت مدرن</a></h5>



                                                    <p class="price">
                                                        <del><span class="woocommerce-Price-amount amount">15,000&nbsp;<span class="woocommerce-Price-currencySymbol">تومان</span></span></del> <ins><span class="woocommerce-Price-amount amount">12,000&nbsp;<span class="woocommerce-Price-currencySymbol">تومان</span></span></ins>
                                                    </p>

                                                    <a rel="nofollow" href="/rt/product/woo-single-2/?add-to-cart=83" data-quantity="1" data-product_id="83" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">افزودن به سبد خرید</a>
                                                </div>

                                            </div>
                                        </div><div class="owl-item" style="width: 353px;">
                                            <div class="product product_item_holder item">


                                                <!-- product image --><div class="featured_image"><div class="imgeffect img_loaded">	<a href="/rt/product/woo-single-2/?add-to-cart=37" rel="nofollow" data-product_id="37" data-product_sku="" class="add_to_cart_button single icon-basket     product_type_simple ajax_add_to_cart" title="افزودن به سبد خرید"></a><img src="http://localhost:8080/rt/wp-content/uploads/2013/06/31256332_012_d.jpg" alt="" class=""></div></div>
                                                <div class="product_info">
                                                    <h5><a href="http://localhost:8080/rt/product/happy-ninja/">نرم افزار شبکه های اجتماعی</a></h5>



                                                    <p class="price">
                                                        <span class="woocommerce-Price-amount amount">23,000&nbsp;<span class="woocommerce-Price-currencySymbol">تومان</span></span>
                                                    </p>

                                                    <div class="star-rating"><span style="width:100%">نمره <strong class="rating">5.00</strong> از 5</span></div><a rel="nofollow" href="/rt/product/woo-single-2/?add-to-cart=37" data-quantity="1" data-product_id="37" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">افزودن به سبد خرید</a>
                                                </div>

                                            </div>
                                        </div><div class="owl-item" style="width: 353px;">
                                            <div class="product product_item_holder item">



                                                <span class="onsale">حراج!</span>
                                                <!-- product image --><div class="featured_image"><div class="imgeffect img_loaded">	<a href="/rt/product/woo-single-2/?add-to-cart=87" rel="nofollow" data-product_id="87" data-product_sku="" class="add_to_cart_button single icon-basket     product_type_simple ajax_add_to_cart" title="افزودن به سبد خرید"></a><img src="http://localhost:8080/rt/wp-content/uploads/2013/06/Mobile-apps.jpg" alt="" class=""></div></div>
                                                <div class="product_info">
                                                    <h5><a href="http://localhost:8080/rt/product/woo-album-2/">نرم افزار ضبط صدا !</a></h5>



                                                    <p class="price">
                                                        <del><span class="woocommerce-Price-amount amount">10,000&nbsp;<span class="woocommerce-Price-currencySymbol">تومان</span></span></del> <ins><span class="woocommerce-Price-amount amount">8,000&nbsp;<span class="woocommerce-Price-currencySymbol">تومان</span></span></ins>
                                                    </p>

                                                    <a rel="nofollow" href="/rt/product/woo-single-2/?add-to-cart=87" data-quantity="1" data-product_id="87" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">افزودن به سبد خرید</a>
                                                </div>

                                            </div>
                                        </div><div class="owl-item" style="width: 353px;">
                                            <div class="product product_item_holder item">


                                                <!-- product image --><div class="featured_image"><div class="imgeffect img_loaded">	<a href="http://localhost:8080/rt/product/%db%8c%da%a9-%d9%85%d8%ad%d8%b5%d9%88%d9%84-%d8%aa%d8%a7%d8%b2%d9%87/" rel="nofollow" data-product_id="2530" data-product_sku="" class="    single icon-eye  product_type_variable " title="انتخاب گزینه ها"></a><img src="http://localhost:8080/rt/wp-content/uploads/2014/09/cd_2_angle.jpg" alt="" class=""></div></div>
                                                <div class="product_info">
                                                    <h5><a href="http://localhost:8080/rt/product/%db%8c%da%a9-%d9%85%d8%ad%d8%b5%d9%88%d9%84-%d8%aa%d8%a7%d8%b2%d9%87/">نینجای مرموز !</a></h5>



                                                    <p class="price">
                                                        <span class="woocommerce-Price-amount amount">25,000&nbsp;<span class="woocommerce-Price-currencySymbol">تومان</span></span>–<span class="woocommerce-Price-amount amount">35,000&nbsp;<span class="woocommerce-Price-currencySymbol">تومان</span></span>
                                                    </p>

                                                    <a rel="nofollow" href="http://localhost:8080/rt/product/%db%8c%da%a9-%d9%85%d8%ad%d8%b5%d9%88%d9%84-%d8%aa%d8%a7%d8%b2%d9%87/" data-quantity="1" data-product_id="2530" data-product_sku="" class="button product_type_variable add_to_cart_button">انتخاب گزینه ها</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>













                                <div class="owl-controls clickable"><div class="owl-buttons"><div class="owl-prev"><span class="icon-left-open"></span></div><div class="owl-next"><span class="icon-right-open"></span></div></div></div>
                            </div>
                        </section>
                    </div>
                </div>
            </div><!-- #product-2532 -->
        </div>
    </section><!-- / end section .content -->
</section>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
