@model IEnumerable<DomainClass.Models.ProductGroup>
<section class="border-radius category-side">
    <header><h3> دسته بندی محصولات </h3></header>
    <article>
        <ul class="category-menu">
            @foreach (var item in Model)
            {
                <li>
                    <h2><a href="/Archive?selectedGroups=@item.ProductGroupId">@item.ProductGroupTitle</a></h2>
                    @*<ul class="child-category-menu">
                        <li><h2><a href="">آموزش  html  مبتدی </a> <span>(10)</span></h2></li>
                        <li><h2><a href="">آموزش  html  پیشرفته </a> <span>(5)</span></h2></li>
                        <li><h2><a href="">آموزش  css مبتدی </a> <span>(2)</span></h2></li>
                        <li><h2><a href="">آموزش  css پیشرفته </a> <span>(52)</span></h2></li>
                        <li><h2><a href="">آموزش  jquery </a> <span>(20)</span></h2></li>
                        <li><h2><a href="">آموزش  وردپرس و طراحی  </a> <span>(15)</span></h2></li>
                    </ul>*@
                </li>
            }
           
           
        </ul>
    </article>
</section>
