<div class="ban-top">
    <div class="container">
        <div class="top_nav_left">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-ParsianDanesh-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse menu--shylock" id="bs-ParsianDanesh-navbar-collapse-1">
                        <ul class="nav navbar-nav menu__list">
                                                     
                            <li class="active menu__item menu__item--current"><a class="menu__link" href="@Url.Action(MVC.Home.ActionNames.Index,MVC.Home.Name)">صفحه اصلی <span class="sr-only">(current)</span></a></li>
                            <li class="menu__item dropdown">
                                <a class="menu__link" href="#" class="dropdown-toggle" data-toggle="dropdown">پکیج ها <b class="caret"></b></a>
                                <ul class="dropdown-menu agile_short_dropdown">
                                    <li><a href="icons.html">پکیج کل تصویری</a></li>
                                    <li><a href="typography.html">پکیج کل صوتی</a></li>
                                </ul>
                            </li>
                            <li class="dropdown menu__item">
                                <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">دوره ها <span class="caret"></span></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <div class="agile_inner_drop_nav_info">
                                        <div class="col-sm-3 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="womens.html">داخلی</a></li>
                                                <li><a href="womens.html">بیرونی</a></li>
                                                <li><a href="womens.html">چشم</a></li>
                                                <li><a href="womens.html">بیولوژی</a></li>
                                                <li><a href="womens.html">پرستاری</a></li>
                                                <li><a href="womens.html">کلیه</a></li>
                                                <li><a href="womens.html">ریه و سایر</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="womens.html">اندوسکوپی</a></li>
                                                <li><a href="womens.html">لاپارسکوپی</a></li>
                                                <li><a href="womens.html">فوق دکترا</a></li>
                                                <li><a href="womens.html">حرفه ای</a></li>
                                                <li><a href="womens.html">دستیاری</a></li>
                                                <li><a href="womens.html">دندان پزشکی</a></li>
                                                <li><a href="womens.html">قلب</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6 multi-gd-img multi-gd-text ">
                                            <a href="womens.html"><img src="@Url.Content("~/images/top1.jpg")" alt=" " /></a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>
                            <li class="dropdown menu__item">
                                <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">پکیج ها <span class="caret"></span></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <div class="agile_inner_drop_nav_info">
                                        <div class="col-sm-6 multi-gd-img1 multi-gd-text ">
                                            <a href="mens.html"><img src="@Url.Content("~/images/top2.jpg")" alt=" " /></a>
                                        </div>
                                        <div class="col-sm-3 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="mens.html">پکیج کل تصویری</a></li>
                                                <li><a href="mens.html">پکیج کل صوتی</a></li>
                                                <li><a href="mens.html">پکیج صوتی و کتاب</a></li>
                                                <li><a href="mens.html">پکیج کتاب</a></li>
                                                <li><a href="mens.html">پکیج جزاوات</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="mens.html">پکیج کل تصویری</a></li>
                                                <li><a href="mens.html">پکیج کل صوتی</a></li>
                                                <li><a href="mens.html">پکیج صوتی و کتاب</a></li>
                                                <li><a href="mens.html">پکیج کتاب</a></li>
                                                <li><a href="mens.html">پکیج جزاوات</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>
                            <li class="menu__item"><a class="menu__link" href="contact.html">تماس با ما</a></li>
                            <li class="menu__item"><a class="menu__link" href="about.html">درباره ما</a></li>   
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="top_nav_right">
            <div class="wthreecartaits wthreecartaits2 cart cart box_1">
                <form action="#" method="post" class="last">
                    <input type="hidden" name="cmd" value="_cart">
                    <input type="hidden" name="display" value="1">
                    <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                </form>

            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
