<div class="footer">
    <div class="footer_agile_inner_info_w3l">
        <div class="col-md-3 footer-left">
            <h2><a href="index.html"><span>پارسیان</span>دانش </a></h2>
            <div class="clearfix"> </div>
            <p>موسسه آموزشی و پژوهشی با بهره گیری از اساتید برجسته </p>
            <div class="clearfix"> </div>
            <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
                <li>
                    <a href="#" class="facebook">
                        <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="#" class="twitter">
                        <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="#" class="instagram">
                        <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-9 footer-right">
            <div class="sign-grds">
                <div class="col-md-4 sign-gd">
                    <h4>دسترسی سریع </h4>
                    <div class="clearfix"></div>
                    <ul>
                        <li><a href="@Url.Action(MVC.Account.ActionNames.Register,MVC.Account.Name)">ثبت نام</a></li>
                        <li><a href="@Url.Action(MVC.Home.ActionNames.Index,MVC.Home.Name)">صفحه اصلی</a></li>
                        <li><a href="#">دوره ها</a></li>
                        <li><a href="#">پکیج ها</a></li>
                        <li><a href="#">منابع</a></li>
                        <li><a href="#">درباره ما</a></li>
                    </ul>
                </div>

                <div class="col-md-5 sign-gd-two">
                    <h4>تماس با ما</h4>
                    <div class="clearfix"></div>
                    <div class="w3-address">
                        <div class="w3-address-grid">
                            <div class="w3-address-right">
                                <h6><i class="fa fa-phone" aria-hidden="true"></i>  تلفن  </h6>
                                <p>+98 021 88667744</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="w3-address-grid">
                            <div class="w3-address-right">
                                <h6><i class="fa fa-envelope" aria-hidden="true"></i> ایمیل</h6>
                                <p><a href="mailto:info@parsianDanesh.com"> info@parsianDanesh.com</a></p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="w3-address-grid">
                            <div class="w3-address-right">
                                <h6><i class="fa fa-map-marker" aria-hidden="true"></i>  آدرس</h6>
                                <p>
                                    تهران، سید خندان، تقاطع شریعتی، ضلع شمال غربی، ساختمان 1000، بلوک 3 (پلاک 918)، واحد3
                                </p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <p class="copy-right"> &copy 2017 <a href="http://parsianDanesh.com/">پارسیان دانش</a></p>
</div>
