@{
    ViewBag.Title = "خطا.. سطح دسترسی ";
}
<div class="wrap">
<div class="main">
    <div class="banner">
        <img src="images/banner.png" alt=""/>
    </div>
    <div class="text">
        <h1>صفحه مورد نظر شما یافت نشد.</h1>
        <p>لطفا با مدیر سایت تماس بگیرید</p>
    </div>
</div>
</div>
