
@{
    ViewBag.Title = "داشبورد";
    Layout = "~/Areas/Admin/Views/Shared/_NLayout.cshtml";
}
<div class="well"></div>

@Html.Action("fillPartial", "home", new { partialViewName = "_WidgetPartial" })
