
@{
    ViewBag.Title = "Payment";
}
@ViewBag.Error
<h2>سفارش شما با موفقیت ثبت شد جهت بازگشت به صفحه اصلی <a href="@Url.Action(MVC.Home.ActionNames.Index,MVC.Home.Name,new { Area = ""})">اینجا</a>  کلیک کنید</h2>

