
    <div>
        @if (ViewBag.IsSuccess == true)
        {
            <div class="alert alert-success">
                <h2>تراکنش با موفقیت انجام شد</h2>
                <hr />
                <p>کد پیگیری شما : @ViewBag.RefId</p>
            </div>
        }
        else
        {
            <div class="alert alert-danger">
                <h2>تراکنش با شکست مواجه شد</h2>
                <hr />
                <p>کد پیگیری شما : @ViewBag.Status</p>
            </div>
        }
    </div>

